<div class="container" *ngIf="!loading">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div class="container" *ngIf="loading">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="md-form">
        <input
          type="text"
          [(ngModel)]="searchText"
          (keyup)="searchItems()"
          class="form-control"
          id="search"
          mdbInput
        />
        <label for="search">Search Country</label>
      </div>
    </div>
  </div>
  <table
    mdbTable
    class="z-depth-1 table table-striped table-responsive-md btn-table"
  >
    <thead>
    <tr>
      <th colspan="2" [mdbTableSort]="elements" sortBy="country">
        <i class="fas fa-sort"></i> Country
      </th>
      <th [mdbTableSort]="elements" sortBy="cases">
        <i class="fas fa-sort"></i> Cases
      </th>
      <th [mdbTableSort]="elements" sortBy="deaths">
        <i class="fas fa-sort"></i> Deaths
      </th>
      <th [mdbTableSort]="elements" sortBy="recovered">
        <i class="fas fa-sort"></i> Recovered
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let el of elements | keyvalue: returZero; let i = index">
      <td scope="row"><img [src]="el.value.flag" width="30"/></td>
      <th>
        <a [routerLink]="'country/' + el.value.iso">{{ el.value.country }}</a>
      </th>
      <td>{{ el.value.cases | number }}</td>
      <td>{{ el.value.deaths | number }}</td>
      <td>{{ el.value.recovered | number }}</td>
    </tr>
    </tbody>
  </table>
</div>
